.title {
  text-align: right;
  font-size: 14px;
  margin: 3vw;
}

.title code {
  color: blue;
}

.content {
  height: 80vh;
  width: 95vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.content__panel {
  height: 100%;
  width: 30%;
  background-color: #ddd;
}

#content__vis {
  height: 100%;
  width: 65%;
  background-color: #ddd;
  overflow: scroll;
}

.hidden {
  display: none !important;
}

.visible {
  display: block;
}

#upload-data {
  line-height: 60px;
  border-width: 1px;
  border-style: dashed;
  border-radius: 5px;
  text-align: center;
  margin: 10px;
}

#output-data-upload {
  width: 50%;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-around;
}
