.title {
  text-align: right;
  margin: 2vw;
  margin-right: 5vw;
  width: 100%;
}

.title code {
  color: blue;
}

.content {
  height: 70vh;
  width: 95vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.content__panel {
  height: 100%;
  width: 30%;
  border: 2px double black;
}

.content__panel > div {
  margin: 20px;
}

.configure-header {
  font-size: 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#content__vis,
#content__fig {
  height: 100%;
  width: 60%;
  overflow: scroll;
  border: 2px double black;
}

.hidden {
  display: none !important;
}

.visible {
  display: block;
}

#upload-data {
  line-height: 60px;
  border-width: 1px;
  border-style: dashed;
  border-radius: 5px;
  text-align: center;
  margin: 10px;
}

#upload-data h1 {
  line-height: 2;
  font-size: 1em;
}

#upload-data p {
  line-height: 1;
  font-size: 0.8em;
}

#output-data-upload {
  max-width: 150px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.error-wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.error-message {
  text-align: center;
}

.top-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logo-wrapper span {
  word-spacing: 100vw;
  /* # https://stackoverflow.com/questions/4212909/can-css-force-a-line-break-after-each-word-in-an-element */
}

.logo {
  width: 100px;
  height: 100px;
  margin: 2vw;
  margin-left: 5vw;
}

th,
td {
  padding: 15px;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: coral;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
